*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #24252A;
    color: white;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

li, a{
    display: inline-block;
    padding: 7px 6px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

p, nav, button, h1, h3{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-weight: 600;
}

li:hover{
    background-color: deepskyblue;
    border-radius: 20px;
}

footer{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    box-sizing: border-box;
}

.contenedor ul{
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    width: 8%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    border-radius: 10px;
}

.menucito{
    position: relative;
    width: 700px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;

}

.menucito h2{ 
    font-family: 'Montserrat', sans-serif;
}